@import 'v-tweakpane/dist/v-tweakpane.css';

/* roboto-latin-100-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-100-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* roboto-latin-400-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* roboto-latin-900-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-900-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* roboto-cyrillic-100-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/cyrillic-100-normal.woff2) format('woff2');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* roboto-cyrillic-400-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/cyrillic-400-normal.woff2) format('woff2');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* roboto-cyrillic-900-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/cyrillic-900-normal.woff2) format('woff2');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --tp-base-background-color: hsla(0, 0%, 0%, 0.75);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 70%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 85%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 80%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 75%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-container-background-color: hsla(0, 0%, 10%, 1);
  --tp-container-background-color-active: hsla(0, 0%, 25%, 1);
  --tp-container-background-color-focus: hsla(0, 0%, 20%, 1);
  --tp-container-background-color-hover: hsla(0, 0%, 15%, 1);
  --tp-container-foreground-color: hsla(0, 0%, 50%, 1);
  --tp-groove-foreground-color: hsla(0, 0%, 10%, 1);
  --tp-input-background-color: hsla(0, 0%, 10%, 1);
  --tp-input-background-color-active: hsla(0, 0%, 25%, 1);
  --tp-input-background-color-focus: hsla(0, 0%, 20%, 1);
  --tp-input-background-color-hover: hsla(0, 0%, 15%, 1);
  --tp-input-foreground-color: hsla(0, 0%, 70%, 1);
  --tp-label-foreground-color: hsla(0, 0%, 50%, 1);
  --tp-monitor-background-color: hsla(0, 0%, 8%, 1);
  --tp-monitor-foreground-color: hsla(0, 0%, 48%, 1);
}

body {
  overflow: hidden;
  background: #333;
  color: #fff;
}

main {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 400px !important;
}
